<nav aria-label="Breadcrumb" class="govuk-breadcrumbs govuk-breadcrumbs--inverse">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="#" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="#" class="govuk-breadcrumbs__link">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="#" class="govuk-breadcrumbs__link">Sub-section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="#" class="govuk-breadcrumbs__link">Sub Sub-section</a>
    </li>
  </ol>
</nav>