<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend">What is your date of birth?</legend>
    <div class="govuk-hint" id="dob-hint">For example, 31 3 1980</div>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            type="text"
            inputmode="numeric"
            id="dob-day"
            name="day"
          >
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            type="text"
            inputmode="numeric"
            id="dob-month"
            name="month"
          >
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
          <input
            class="govuk-input govuk-date-input__input govuk-input--width-4"
            type="text"
            inputmode="numeric"
            id="dob-year"
            name="year"
          >
        </div>
      </div>
    </div>
  </fieldset>
</div>