<nav class="contents-panel" aria-labelledby="contents-panel-heading">
  <h2 class="govuk-visually-hidden" id="contents-panel-heading">Pages in this section</h2>
  <h3 class="contents-panel__list-heading">Getting started</h3>
  <ul class="contents-panel__list">
    <li class="contents-panel__list-item">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Overview</a>
    </li>
    <li class="contents-panel__list-item contents-panel__list-item--current">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#" aria-current="page">Before you start</a>
    </li>
    <li class="contents-panel__list-item">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">What you'll need</a>
    </li>
  </ul>
  <h3 class="contents-panel__list-heading">Making an application</h3>
  <ul class="contents-panel__list">
    <li class="contents-panel__list-item">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Complete the form</a>
    </li>
    <li class="contents-panel__list-item">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Pay the fee</a>
    </li>
    <li class="contents-panel__list-item">
      <a class="contents-panel__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">After you apply</a>
    </li>
  </ul>
</nav>
