<div class="iai-card-group">
  <div class="iai-card iai-card--secondary">
    <div class="iai-card__heading">
      <h3 class="govuk-heading-m">
        <a class="iai-card__link" href="#">Dashboard</a>
      </h3>
    </div>
    <p class="iai-card__content">See the state of everything in one place.</p>
  </div>
  <div class="iai-card iai-card--secondary">
    <div class="iai-card__heading">
      <h3 class="govuk-heading-m">
        <a class="iai-card__link" href="#">Reports</a>
      </h3>
    </div>
    <p class="iai-card__content">Generate and download service reports.</p>
  </div>
  <div class="iai-card iai-card--secondary">
    <div class="iai-card__heading">
      <h3 class="govuk-heading-m">
        <a class="iai-card__link" href="#">Settings</a>
      </h3>
    </div>
    <p class="iai-card__content">Manage your account and preferences.</p>
  </div>
</div>
