<div class="govuk-button-group">
    <button class="govuk-button govuk-button--tertiary" data-module="govuk-button">Action 1</button>
    <button class="govuk-button govuk-button--tertiary" data-module="govuk-button">Action 2</button>
    <button class="govuk-button govuk-button--tertiary" data-module="govuk-button">Action 3</button>
    <button class="govuk-button govuk-button--tertiary" data-module="govuk-button">Action 4</button>
    <button class="govuk-button govuk-button--tertiary" data-module="govuk-button">Action 5</button>
</div>