@font-face {
  font-family: Inter;
  src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url(fonts/static/Inter-Medium.ttf);
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(fonts/static/Inter-SemiBold.ttf)
}

@import "tailwindcss";

@theme {
  --color-background-grey: #f8f8f8;
  --color-border-grey: #b1b4b6;
  --color-pink: #c50878;
  --font-display: "Inter", sans-serif;
}

@custom-variant aria-current (&[aria-current="page"]);

@view-transition {
  navigation: auto;
}

* {
  font-family: Inter;
}
