@font-face {
  font-family: Inter;
  src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url(fonts/static/Inter-Medium.ttf);
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(fonts/static/Inter-SemiBold.ttf)
}

@import "tailwindcss";

@custom-variant aria-current (&[aria-current="page"]);

@view-transition {
  navigation: auto;
}
