<div class="govuk-accordion" data-module="govuk-accordion">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button">Section A</span>
      </h2>
    </div>
    <div class="govuk-accordion__section-content">
      <p class="govuk-body">
        We need to know your nationality so we can work out which elections
        you’re entitled to vote in. If you cannot provide your nationality,
        you’ll have to send copies of identity documents through the post.
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button">Section B</span>
      </h2>
    </div>
    <div class="govuk-accordion__section-content">
      <p class="govuk-body">
        You can find your National Insurance number on your payslip, P60, or
        on letters about tax, pensions and benefits.
      </p>
    </div>
  </div>
</div>