<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" type="radio" id="changed-name-inline" name="changed-name-inline" value="yes">
    <label class="govuk-label govuk-radios__label" for="changed-name-inline">Yes</label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" type="radio" id="changed-name-inline-2" name="changed-name-inline" value="no">
    <label class="govuk-label govuk-radios__label" for="changed-name-inline-2">No</label>
  </div>
</div>
