<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" type="radio" id="changed-name-small" name="changed-name-small" value="yes">
    <label class="govuk-label govuk-radios__label" for="changed-name-small">Yes</label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" type="radio" id="changed-name-small-2" name="changed-name-small" value="no">
    <label class="govuk-label govuk-radios__label" for="changed-name-small-2">No</label>
  </div>
</div>
